html {
  text-align: center;
  background: linear-gradient(to bottom right, rgb(24, 24, 24),rgb(36, 36, 36), rgb(53, 53, 53), rgb(73, 73, 73));
  font-family: 'Times New Roman', Times, serif;
  color: antiquewhite;    
}
h1 {
  font-size: 500%;
  margin: 2%;
  cursor: default;
  padding: 5% 5%;
  text-shadow: 0 0 50px #000000, 0 0 100px #818181, 0 0 150px #7c7c7c,
    0 0 200px #969696;
}
#coluna1 {
  width: 33%;
  float: left;
}
#coluna2 {
  width: 33%;
  float: left;
}
#coluna3 {
  width: 33%;
  float: right;
}
.imagens {
  cursor: pointer;    
  transition-duration: 0.5s;
  transition-property: transform;
  width: 50%;
  margin: 25%;
}
.imagens:hover {
  transform: scale(1.5);
}
#instagram,
#codepen,
#github,
#facebook {
  font-size: 500%;
  color: antiquewhite;
  padding: 5% 5%;
  margin: auto;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #000000, 0 0 100px #818181, 0 0 150px #7c7c7c,
    0 0 200px #969696;